/*start global rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition:0.3s;
    --section-padding: 100px;
    --alt-background: #ececec
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", sans-serif;    
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.main-title{
    margin: 0 auto 80px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 10px 20px;
    width: fit-content;
    z-index: 1;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.main-title::before,
.main-title::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translatey(-50%);
}
.main-title::before{left: -30px;}
.main-title::after{right: -30px;}
.main-title:hover::before{
    z-index: -1;
    animation: left-title 0.5s linear forwards ;
    -webkit-animation: left-title 0.5s linear forwards ;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-title 0.5s linear forwards ;
    -webkit-animation: right-title 0.5s linear forwards ;
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }    
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }    
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }    
}
/*end global rules*/
/*start header*/
.header{
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo{
    color: var(--main-color);
    font-size: 26px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold
}
@media (max-width:767px) {
    .header .logo{
        width: 100%;
        height: 50px;
    }
}
.header .main-nav{
    display: flex;
}
@media (max-width:767px) {
    .header .main-nav{
        margin: auto;
    }
}
.header .main-nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% - 1px);
}
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: black;
    position: relative;
    padding: 0 30px;
    transition: var(--main-transition);
    font-size: 18px;
    overflow: hidden;
}
.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: var(--main-color);
    transition: var(--main-transition);
    height: 4px;
}
.header .main-nav > li > a:hover{
    background-color: #fafafa;
    color: var(--main-color);
}
.header .main-nav > li > a:hover::before{
    left: 0;
}
@media (max-width:767px) {
    .header .main-nav > li > a{
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.header .mega-menu{
    position: absolute;
    left: 0;
    background-color: white;
    padding: 30px;
    width: 100%;
    top: calc(100% + 50px);
    z-index: -1;
    opacity: 0;
    display: flex;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    transition: top var(--main-transition) , opacity var(--main-transition);
    -webkit-transition: top var(--main-transition) , opacity var(--main-transition);
    -moz-transition: top var(--main-transition) , opacity var(--main-transition);
    -ms-transition: top var(--main-transition) , opacity var(--main-transition);
    -o-transition: top var(--main-transition) , opacity var(--main-transition);
}
@media (max-width:767px) {
    .header .mega-menu{
        flex-direction: column;
    }
}
.header .mega-menu .links{
    min-width: 250px;
    flex: 1;
}
.header .mega-menu .links li{
    position: relative;
}
.header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
}
.header .mega-menu .links li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fafafa;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before{width: 100%;}
.header .mega-menu .image img{max-width: 100%;}
@media (max-width:767px) {
    .header .mega-menu .links:first-of-type li:last-of-type{
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li a{
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
.header .mega-menu .links li i{margin-right: 10px;}
@media (max-width:991px) {
    .header .mega-menu .image{
        display: none;
    }
}
.header .mega-menu .image img {
    max-width: 100%;
}
/*end header*/
/*start landing*/
.landing{
    position: relative;
}
.landing::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ececec;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -40px;
    transform: skewy(-6deg);
    transform-origin: top left;
    -webkit-transform: skewy(-6deg);
    -moz-transform: skewy(-6deg);
    -ms-transform: skewy(-6deg);
    -o-transform: skewy(-6deg);
}
.landing .container{
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    min-height: calc(100vh - 72px);
}
.landing .text{flex: 1;}
.landing .text h1{
    margin: 0;
    font-size: 40px;
}
@media (max-width:991px) {
    .landing .text h1{
        font-size: 28px;
        text-align: center;
    }
}
.landing .text p{
    line-height: 1.7;
    color: #666;
    margin: 5px 0 0;
    font-size: 23px;
    max-width: 500px;
}
@media (max-width:991px) {
    .landing .text p{
        font-size: 18px;
        text-align: center;
        margin: 10px auto ;
    }
}
@media (max-width:991px) {
    .landing .image{
        display: none;
    }
}
.landing .image img{
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite ;
    -webkit-animation: up-and-down 5s linear infinite ;
}
.landing .go-down{
    color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    bottom: 30px;
    transition: var(--main-transition);
}
.landing .go-down:hover{
    color: var(--main-color-alt);
}
.landing .go-down i{
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}
/*end landing*/
/*start articles*/
.articles{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    -webkit-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -moz-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -ms-transition: transform var(--main-transition), box-shadow var(--main-transition);
    -o-transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    max-width: 100%;
}
.articles .box .content {
    padding: 20px;
    border-bottom: 1px solid #e6e6e7;
}
.articles .box .content h3 {
    font-weight: bold;
    margin: 0;
}
.articles .box .content p {
    color: #777;
    line-height: 1.6;
    margin: 10px 0 0;
}
.articles .box .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    color: var(--main-color);
}
.articles .box .info  i{
    color: var(--main-color);
}
.articles .box:hover .info  i{
    animation: moving 0.5s linear infinite;
    -webkit-animation: moving 0.5s linear infinite;
}
/*end articles*/
/*start gallery*/
.gallery{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--alt-background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallery .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%) ;
}
.gallery .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .box .image:hover::before{
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}
.gallery .box img{
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.gallery .box .image:hover img{
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}
/*end gallery*/
/*start features*/
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.features .box{
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .image{
    position: relative;
    overflow: hidden;
}
.features .box .image::before{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;}
.features .box .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 170px 500px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.features .box:hover .image::after{
    border-width: 170px 500px 170px 0;
}
.features .box .image img{
    max-width: 100%;
}
.features .box h2{
    position: relative;
    width: fit-content;
    margin: auto;
    font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;
}
.features .box h2::after{
    content: "";
    position: absolute;
    left: 15px;
    bottom: -20px;
    width: calc(100% - 30px);
    height: 3px;
}
.features .box p{
    margin: 20px auto;
    padding: 30px;
    line-height: 2;
    color: #777;
}
.features .box a{
    display: block;
    width: fit-content;
    margin: 30px auto;
    border: 3px solid transparent;
    padding: 10px 30px;
    text-transform: capitalize;
    font-size: 20px;
    transition: var(--main-transition);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.features .qaulity .image::before{
    background-color: rgb(244 64 54 / 60%);
}
.features .qaulity h2::after{
    background-color: #f44036;
}
.features .qaulity a{
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .passion .image::before{
    background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after{
    background-color: #03a9f4;
}
.features .passion a{
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .time .image::before{
    background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after{
    background-color: #009688;
}
.features .time a{
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a{
    background-position: left bottom;
    color: white;
    
}
/*end features*/
/*start testimonials*/
.testimonials{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--alt-background);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.testimonials .box{
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    position: relative;
}
.testimonials .box img {
    width: 100px;
    position: absolute;
    top: -50px;
    right: -10px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 15px solid var(--alt-background);
}
.testimonials .box h3{ margin: 0 0 10px;}
.testimonials .box .title{
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #777;
    display: block;
}
.testimonials .box .rate .filled{
    color: #ffc107;
}
.testimonials .box p{
    line-height: 1.6;
    color: #777;
    margin: 10px 0 0;
}
/*end testimonials*/
/*start team*/
.team{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.team .box{
    position: relative;
}
.team .box::before,
.team .box::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.team .box::before{
    width: calc(100% - 60px);
    z-index: -2;
    background-color: #f3f3f3;
}
.team .box::after{
    width: 0;
    z-index: -1;
    background-color: #e4e4e4;
}
.team .box:hover::after{
    width: calc(100% - 60px);
}
.team .content{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .content img{
    width: calc(100% - 60px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.team .box:hover .content img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.team .content .social{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60px;
    align-items: center;
}
.team .content .social a:hover i{color: var(--main-color);}
.team .content .social i{
    color: #777;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.team .box .info{padding-left: 80px;}
.team .box .info h3{
    font-size: 22px;
    color: var(--main-color);
    margin: 20px 0 0;
}
.team .box .info p{margin-bottom: 25px;}
.team .box:hover .info h3{color: #777;}
/*end team*/
/*start services*/
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--alt-background);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.services .box{
    background-color: white;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    position: relative;
}
.services .box::before{
    content: "";
    top: -3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.services .box:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.services .box:hover::before{
    width: 100%;
}
.services .box i{
    color: #d5d5d5;
    display: block;
    margin: 30px auto 20px;
}
.services .box h3{
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
}
.services .box .info{
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
}
.services .box .info::before{
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}
.services .box .info::after{
    content: "";
    position: absolute;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% - 0.4px);
    transform: skewX(-30deg);
    background-color: #d5d5d5;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
}
.services .box .info a{
    color: var(--main-color);
}
/*end services*/
/*start our-skilles*/
.our-skilles{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.our-skilles .container{
    display: flex;
    align-items: center;
}
@media (max-width:991px) {
    .our-skilles img{
        display: none;
    }
}
.our-skilles .skilles{
    flex: 1;
}
.our-skilles .skilles .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skilles .skilles .skill h3 span{
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: var(--main-color);
    font-size: 12px;
}
.our-skilles .skilles .skill .the-progress{
    height: 30px;
    background-color: #eee;
    position: relative;
}
.our-skilles .skilles .skill .the-progress span {
    background-color: var(--main-color);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.5s linear;
    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;

}
/*end our-skilles*/
/*start work steps*/
.work-steps{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--alt-background);
}
.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:991px) {
    .work-steps .container{
        flex-direction: column;
    }
}
.work-steps .image{
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width:991px){
    .work-steps .image{
        margin-bottom: 60px;
    }
}
.work-steps .info .box{
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    z-index: 1;
}
.work-steps .info .box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    height: 0;
    width: 0;
    z-index: -1;
    background-color: #ededed;
    transition: calc(var(--main-transition) + 0.5s);
    -webkit-transition: calc(var(--main-transition) + 0.5s);
    -moz-transition: calc(var(--main-transition) + 0.5s);
    -ms-transition: calc(var(--main-transition) + 0.5s);
    -o-transition: calc(var(--main-transition) + 0.5s);
}
.work-steps .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.work-steps .box img{
    width: 64px;
    margin-right: 30px;
}
.work-steps .text h3 {
    font-size: 22px;
    margin: 0;
}
.work-steps .text p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
/*end work steps*/
/*start events*/
.events{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.events .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.events .container img{
    max-width: 450px;
}
@media (max-width:991px) {
    .events .container img{
        display: none;
    }
}
.events .info{
    flex: 1;
}
.events .info .time{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
    gap: 10px;
}
.events .info .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 74px;
}
.events .info .time .unit span{
    display: block;
}
.events .info .time .unit span:first-child{
    font-size: 35px;
    font-weight: 700;
    padding: 15px;
    color: var(--main-color);
}
.events .info .time .unit span:last-child{
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
}
.events .info h2{
    text-align: center;
    margin: 35px 0 0;
    font-size: 30px;
}
.events .info p{
    text-align: center;
    line-height: 1.7;
    color: #777;
}
.events .subscribe{
    width: 100%;
}
.events .subscribe form{
    width: 600px;
    background-color: #f6f5f5;
    padding: 30px 40px;
    margin: 20px auto;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width:767px) {
    .events .subscribe form {
        flex-direction: column;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
.events .subscribe form input[type="email"]{
    flex: 1;
    padding: 20px;
    border: none;
    border-radius: 50px;
    caret-color: var(--main-color);
}
.events .subscribe form input[type="email"]:focus{
    outline: none;
}
.events .subscribe form input[type="email"]::placeholder{
    transition: opacity var(--main-transition);
    -webkit-transition: opacity var(--main-transition);
    -moz-transition: opacity var(--main-transition);
    -ms-transition: opacity var(--main-transition);
    -o-transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder{
    opacity: 0;
}
@media (max-width:767px) {
    .events .subscribe form input[type="email"]{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
.events .subscribe form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}
@media (max-width:767px) {
    .events .subscribe form input[type="submit"]{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
.events .subscribe form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}
/*end events*/
/*start pricing*/
.pricing{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--alt-background);
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.pricing .box{
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    text-align: center;
    z-index: 1;
}
.pricing .box::before,
.pricing .box::after{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    z-index: -1;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.pricing .box::before{
    left: 0;
    top: 0;
}
.pricing .box::after{
    right: 0;
    bottom: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after{
    width: 100%;
}
@media (min-width:1200px) {
    .pricing .box.popular{
        top:-20px ;
    }
}
.pricing .box .label{
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    position: absolute;
    background-color: var(--main-color);
    color: white;
    right: 20px;
    width: 40px;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    font-weight: bold;
}
.pricing .box .label::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;
}
.pricing .box .title{
    margin: 40px 0;
    font-size: 25px;
    font-weight: bold;
}
.pricing .box img{
    width: 80px;
    margin-bottom: 30px;
}
.pricing .box .price{
    margin-bottom: 20px;
}
.pricing .box .price .amount{
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 5px;
}
.pricing .box .price span:last-child{
    color: #777;
}
.pricing .box ul{
    text-align: left;
}
.pricing .box ul li{
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right:10px;
    font-weight: 900;
    color: var(--main-color);
}
.pricing .box a{
    display: block;
    width: fit-content;
    border: 1px solid var(--main-color);
    padding: 15px 20px;
    margin: 40px auto;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.pricing .box a:hover{
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: white;
}
/*end pricing*/
/*start videos*/
.videos{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.videos .holder{
    display: flex;
    justify-content: center;
    background-color: var(--alt-background);
    border: 1px solid #ddd;
}
@media (max-width:991px) {
    .videos .holder{
        flex-direction: column;
    }
}
.videos .holder .list{
    background-color: white;
    min-width: 300px;
}
.videos .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    background-color: #f4f4f4;
}
.videos .holder .list ul li {
    padding: 20px;
    cursor: pointer;
    border: 1px solid var(--alt-background);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.videos .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}
.videos .holder .list ul li span{
    display: block;
    color: #777;
    margin-top: 10px;
}
.videos .holder .preview{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #e2e2e2;
    justify-content: space-between;
}
.videos .holder .preview img{
    max-width: 100%;
}
.videos .holder .preview .info{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}
/*end videos*/
/*start stats*/
.stats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url(../image/stats.jpg);
    background-size: cover;
}
.stats::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 90%);
}
.stats h2 {
    position: relative;
    width: fit-content;
    margin: 0 auto 10px;
    font-size: 30px;
    font-weight: bold;
}
.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap:20px
}
.stats .box{
    background-color: white;
    position: relative;
    text-align: center;
    padding: 30px 15px;
    opacity: 0.8;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.stats .box:hover{
    opacity: 1;
}
.stats .box::before,
.stats .box::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.stats .box::before{
    top: 0;
    right:  0;
}
.stats .box::after{
    bottom: 0;
    left: 0;
}
.stats .box:hover::before,
.stats .box:hover::after{
    height: 100%;
}
.stats .box .number{
    font-size: 50px;
    display: block;
    font-weight: bold;
    margin: 10px 0;
}
.stats .box .text{
    color: var(--main-color);
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
/*end stats*/
/*start discount*/
.discount{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .image{
    background-image: url("../image/discount-background1.jpg");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-back 10s linear infinite;
    -webkit-animation: change-back 10s linear infinite;
}
@media (max-width:991px) {
    .discount .image{
        flex-basis: 100%;
    }
}
.discount .image::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(23  135 224 / 97%);
    z-index: -1;
}
.discount .form{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
@media (max-width:991px) {
    .discount .form{
        flex-basis: 100%;
    }
}
.discount .form .input{
    display: block;
    padding: 15px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount .form .input:focus{
    outline: none;
    color: var(--main-color);
}
.discount .form textarea.input{
    resize: none;
    height: 200px;
}
.discount .form  [type="submit"]{
    display: block;
    width: 100%;
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    cursor: pointer;
}
.discount .form  [type="submit"]:hover{
    background-color: var(--main-color-alt);
}
.discount .content{
    text-align: center;
    padding: 0 20px;
}
.discount .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p{
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}
.discount .content img{
    width: 300px;
    max-width: 100%;
}
/*end discount*/
/*start footer*/
.footer{
    background-color: #191919;
    padding: 70px 0 0;
}
.footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:40px
}
.footer .box h3{
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social{
    display: flex;
}
.footer .box .social li{margin-right: 10px;}
.footer .box .social li a{
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
}
.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
    background-color: #ff0000;
}
.footer .box .text{
    line-height: 2;
    color: #b9b9b9;
}
.footer .box .links li{
    padding: 15px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.footer .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover{padding-left: 10px;}
.footer .box .links li:hover a{color: white;}
.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .box .links li a::before{
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
.footer .box .line{
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
.footer .box .line i{
    font-size: 25px;
    margin-right: 20px;
    color: var(--main-color);
}
.footer .box .line .info{
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span{
    display: block;
}
.footer .footer-gallery img{
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
.footer .copyright span{
    color: var(--main-color);
}
/*end footer*/
/*start animation*/
@keyframes up-and-down {
    0%, 100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%,10%,20%,50%,80%,100%{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
}
}
@keyframes left-title {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-title {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes moving {
    100%{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}
}
@keyframes flashing {
    0%,
    40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-back {
    0% , 100%{
        background-image: url("../image/discount-background1.jpg");
    }
    50%{
        background-image: url("../image/discount-background2.jpg");
    }
}
/*end animation*/